footer {
    background: #1b1929;
    padding: 20px;
}

.footer-links img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    opacity: 0.5;
}
.footer-nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    color: #9b9b9b;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer-nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.footer-icons {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.footer-icons p {
    color: #9b9b9b;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    opacity: 0.5;
}

.footer-nav a:hover {
    color: #6689ff;
}

@media (max-width:425px){
    .footer-nav{
        flex-wrap: wrap;
        width: 100%;
    }
    .footer-nav a{
        width: 45%;
        line-height: 30px; 
    }
    .footer-links{

    }
}


