.nav-div img{
    width: 25px;
    height: 25px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.logo-div{
    width: 40%;
}
.nav-div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.nav-div a{
    text-decoration: none;
    font-size: 18px;
    color: #151515;
    font-weight: 500;
}
.home-a {
    border-bottom: 3px solid #6689FF;
}
.nav-div a:hover {
    border-bottom: 3px solid #6689FF;
}
.menu {
    display: none;
}

@media (max-width: 1024px){
    .nav-div {
        display: none;
    }
    header {
        width: 100%;
        justify-content: start;
        padding-left: 30px;
    }
    .menu {
        display: block;
        width: 30px;
        height: 30px;
    }
}