.section-11{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 95%;
    margin-top: 80px;
}

.post-item {
    width: 30%;
    position: relative;
}
.post-item img {
    transform: scale(1);
    transition: 1s;
}
.post-item img:hover {
    transform: scale(0.95);
}  
.post-data {
    background-color: white;
    width: 100px;
    height: 60px;
    position: absolute;
    top: 260px;
}
.post-data p {
    text-align: center;
    color: #6689ff;
    font-size: 30px;
    padding-top: 15px;
    font-weight: 500;
}
.post-data span {
    font-size: 26px;
}

.post-item >h1 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    color: #151515;
}

.post-item > p {
    margin-top: 10px;
    color: #b4b4b4;
    line-height: 24px;
    font-weight: 500;
    font-size: 15px;
}
.post-item > h1:hover {
    color: #6689ff;
}

@media (max-width: 1024px){
    .post-item img {
        width: 100%;
    }
    .post-data{
        top:200px;
    }
}

@media (max-width:768px) {
    .post-item {
        width: 45%;
        margin-bottom: 20px;
    }   
}

@media (max-width:425px){
    .post-item{
        width: 90%;
    }
    .post-data{
        top: 230px;
    }
}




