.section-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    width: 95%;
}

.price-item {
    width: 30%;
    background: #1b1929;
    color: white;
    border-radius: 10px ;
    position: relative;
}

.price-txt {
    text-align: center;
    margin-top: 50px ;
    margin-bottom: 10px;
}
.price-txt p .price-txt h1 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}
.price-txt h1{
    font-size: 26px;
    margin: 10px 0;
}
.price-item ul {
      padding-left: 30px;
      margin-bottom: 30px;
}
.price-item ul li::before{
    content: '\2713';
    color: #6689ff;
    margin-right: 10px;
    line-height: 30px;
    
}
.price-item ul li {
    font-size: 14px;
    letter-spacing: 1px;
}
.li-gray {
    color: #5d6264;
}
.price-item  .li-gray:before{
    color: #5d6264;
}


.price-item button {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    border: none;
    background-color: #5d6264;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.price-item button:hover {
    background-color: black;
}

.price-item .start-btn{
    background-color:#6689ff;
}

.price-item >h1 {
    color: rgba(255, 255, 255, 0.03);
    font-size: 60px;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: 1px line-through #5d6264 ;
}

.price-item .popular-btn {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #6689ff;
    color: white;
    border: none;
    top: 20px;
    right: 20px;
    border-radius: 5px;
}
.price-item .popular-btn:hover{
    background-color: #6689ff;
}


@media (max-width:1024px){
    .price-item{
        width: 40%;
        margin-top: 20px;
    }
    .team-block {
    
     justify-content: space-around;
        
    }
}

@media (max-width:768px) {
    .price-item{
        width: 45%;
    }
}
@media (max-width:425px){
    .price-item {
        width: 90%;
    }
}