.section-9 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
}
.review-item {
    width: 27%;
    background-color: white;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));
    padding: 20px;
}

.review-item::before{
    content: '';
    border: 20px solid transparent;
    
}


.review-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.reiewer {
    padding-left: 20px;
}
.reiewer h1 {
    font-size: 22px;
    letter-spacing: 1px;
}
.reiewer p {
    font-size: 14px;
    margin: 5px 0;
    color: #6689ff;
    font-weight: 500;
}
.review-item > p{

    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

@media (max-width:1024px){
    .review-item  {
        width: 40%;
        margin-top: 30px;
        padding: 40px;
    }
    .team-block {
        justify-content: space-between;
    }
}

@media (max-width:768px) {
    .review-item{
        width: 35%;
    }
}
@media (max-width:425px){
    .review-item{
        width: 90%;
    }
}