.section2-card img{
    width: 40px;
    height: 40px;
}
.section-2 {
    display: flex;
    width: 95%;
    justify-content: space-around;
    margin: auto;
    padding-top: 80px;
    flex-wrap: wrap;
}
.section2-txt {
    display: flex;
    width: 45%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section2-card {
    width: 40%;
    box-shadow: 0 0 13px -4px rgb(0 0 0 / 17%);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}
.card-h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
}
.section2-h1 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 22px;
    margin: 20px 0;
}
.section2-txt p {
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

@media (max-width : 1024px)
{
    .section2-txt{
        width: 90%;
        margin-top: 30px;
    }
    .section2-card img{
        width: 60px;
        height: 60px;
    }
}

@media (max-width:768px) {
    .section2-txt{
        width: 90%;
    }
    .section2-card{
        width: 40%;
        margin-top: 20px;
    }
}

@media (max-width:425px){
    .section2-card {
        width: 90%;
        padding: 30px;
    }
}