.section-13 {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 80px 0;
}

.section13-txt{
    display: flex;
    width: 95%;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 30px;
}
.section13-txt p {
    font-size: 18px;
    font-weight: 500;
    border-left:1px solid #b9b9b9;
    margin-left: 30px;
    padding-left: 30px;
    line-height: 30px;
}
.section13-form {
    width: 95%;
    margin-left: 70px;
}
.section13-form input {
    width: 28%;
    padding: 15px;
    margin-left: 10px;
    background-color: #efefef;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #151515;
}
.section13-form input::placeholder, .section13-form textarea::placeholder{
    font-size: 15px;
    font-weight: 500;
    color: #151515;
    font-family:'Poppins', sans-serif;
}

.section13-form textarea{
    font-size: 15px;
    font-weight: 500;
    color: #151515;
    font-family:'Poppins', sans-serif;
    margin: 20px 0;
    margin-left: 10px; 
    padding: 20px;
    border: none;
    background-color: #efefef;
    outline: none;
    
}

.section13-form button{
    margin-left: 10px;
}


@media (max-width:1024px)
{
    .section13-form textarea {
        width: 95%;
    }
}

@media (max-width:768px) {
    .section13-form textarea {
        width: 90%;
    }
    .section13-form input {
        width: 26%;
    }
}

@media (max-width:425px){
    .section13-form input {
        width: 80%;
        margin-top: 10px;
    }
    .section13-form textarea {
        width: 77%;
    }
    .section13-txt {
        flex-direction: column;
        width: 90%;
        margin: 0;
        text-align: center;
    }
    .section13-txt p {
        margin: 20px 0;
    }
}