.section-3 {
    background-image: url('https://livedemo00.template-help.com/wt_prod-20462/images/parallax-1.jpg');
    height: 60vh;
    background-size: cover; 
}
.section3-txt {
    float: right;
    text-align: right;
    width: 50%;
    color: white;
    padding-top: 10%;
    padding-right: 50px ;
}
.section3-txt h1 {
    font-size: 32px;
    font-weight: 500;
}
.section3-txt p {
    margin: 30px 0;
    line-height: 20px;
}
.transparent-btn {
    background-color: transparent ;
    border: 1px solid white;
    margin-left: 10px;
}
.transparent-btn:hover{
    background-color: #6689FF;
}

@media (max-width:768px){
    .section3-txt{
        width: 40%;
    }
    .transparent-btn{
        margin-top: 10px;
    }
}

@media (max-width:425px) {
   .section-3 {
       background: none;
       background-color: #6689FF;
       height: 70vh;
   }
   .section-btn {
       background-color: white;
       color: #6689FF;
   }
    .section3-txt {
        width: 60%;
    }
}